SetEnv APPLICATION_ENV development
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
# categories #

RewriteRule ([^/]+)/([^/]+)\.html$ /index.php?id=$2 [NC,L,QSA]
RewriteRule ([^/]+)/([^/]+)/([^/]+)\.html$ /index.php?id=$3 [NC,L,QSA]
RewriteRule tin-tuc/([^/]+)\.html$ /index.php?id=$1 [NC,L,QSA]
RewriteRule khuyen-mai/([^/]+)\.html$ /index.php?id=$1 [NC,L,QSA]
RewriteRule khach-hang/([^/]+)\.html$ /index.php?id=$1 [NC,L,QSA]
RewriteRule san-pham/([^/]+)\.html$ /index.php?id=$1 [NC,L,QSA]

###### news detail #########
RewriteRule danh-muc/([^/]+)/([^/]+)\.html$ /index.php?id=$2 [NC,L,QSA]
RewriteRule !\.(htm|js|ico|gif|jpg|png|css)$ index.php [NC,L]
