<routes>
	<index>
        <route>add-cart.html</route>
        <defaults>
            <module>default</module>
            <controller>ajax</controller>
            <action>addcart</action>
        </defaults>
    </index>
	<index>
        <route>/</route>
        <defaults>
            <module>default</module>
            <controller>index</controller>
            <action>index</action>
        </defaults>
    </index>
	<products>
        <route>san-pham.html</route>
        <defaults>
            <module>default</module>
            <controller>product</controller>
            <action>index</action>
        </defaults>
    </products>
	<products_new>
        <route>san-pham-moi.html</route>
        <defaults>
            <module>default</module>
            <controller>product</controller>
            <action>index</action>
        </defaults>
    </products_new>
	<products_cate>
        <route>:san-pham/:title.html</route>
        <defaults>
            <module>default</module>
            <controller>product</controller>
            <action>index</action>
        </defaults>
    </products_cate>
	<products_detail>
        <route>:san-pham/:cate/:title.html</route>
        <defaults>
            <module>default</module>
            <controller>product</controller>
            <action>detail</action>
        </defaults>
    </products_detail>
	<search>
        <route>tim-kiem.html</route>
        <defaults>
            <module>default</module>
            <controller>product</controller>
            <action>search</action>
        </defaults>
    </search>
	<content>
        <route>gioi-thieu.html</route>
        <defaults>
            <module>default</module>
            <controller>content</controller>
            <action>index</action>
        </defaults>
    </content>
	<khach_hang>
        <route>khach-hang.html</route>
        <defaults>
            <module>default</module>
            <controller>news</controller>
            <action>khachhang</action>
        </defaults>
    </khach_hang>
	<khach_hang_detail>
        <route>khach-hang/:title.html</route>
        <defaults>
            <module>default</module>
            <controller>news</controller>
            <action>khachhangdetail</action>
        </defaults>
    </khach_hang_detail>
	<khuyen_mai>
        <route>khuyen-mai.html</route>
        <defaults>
            <module>default</module>
            <controller>news</controller>
            <action>khuyenmai</action>
        </defaults>
    </khuyen_mai>
	
	<khuyen_mai_detail>
        <route>khuyen-mai/:title.html</route>
        <defaults>
            <module>default</module>
            <controller>news</controller>
            <action>khuyenmaidetail</action>
        </defaults>
    </khuyen_mai_detail>
	<news>
        <route>tin-tuc.html</route>
        <defaults>
            <module>default</module>
            <controller>news</controller>
            <action>index</action>
        </defaults>
    </news>
	<news_detail>
        <route>tin-tuc/:title.html</route>
        <defaults>
            <module>default</module>
            <controller>news</controller>
            <action>detail</action>
        </defaults>
    </news_detail>
	<contact>
        <route>lien-he.html</route>
        <defaults>
            <module>default</module>
            <controller>contact</controller>
            <action>index</action>
        </defaults>
    </contact>
</routes>