.memberlogin {
	background: url(../images/memberlogin.gif) no-repeat center bottom;
	padding-bottom: 28px;
}

.memberlogin .head {
	height: 42px;
	background-position: 0 0;
}

.memberlogin .head .left {
	height: 42px;
	background: url(../images/l.gif) no-repeat 0 0;
	width: 6px;
	float: left;
	padding: 0;
	clear: none
}

.memberlogin .head .right {
	height: 42px;
	background: url(../images/r.gif) no-repeat right 0;
	width: 6px;
	float: right;
	padding: 0;
	clear: none
}

.memberlogin .head .center {
	height: 42px;
	float: left;
	width: 488px;
	padding: 0;
	clear: none
}

.memberlogin .head .center h1 {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 2px 2px #333333
}

.memberlogin .content {
	background-color: #ddecf2;
	padding: 22px;
	border: 1px solid #6bb2ee;
	border-top-width: 0;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
}

.memberlogin .content .logohqts {
	float: left;
	width: 90px;
	margin-right: 30px;
}

.memberlogin .content .frmlog {
	float: left;
	width: 334px;
}

.memberlogin .content .frmlog td {
	padding: 4px 0;
	color: #173778
}

.memberlogin .content .frmlog .inputs {
	border: 1px solid #c6c6c6;
	border-bottom-color: #efefef;
	background: white url(../images/inputs.gif) repeat-x 0 0;
	padding: 3px 4px;
	width: 210px;
	color: #999999;
	height: 18px;
}

.memberlogin .content .frmlog .FormButton {
	background: url(../images/FormButton.gif) repeat-x 0 0;
	width: 98px;
	height: 29px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 13px;
	text-shadow: 0 1px 0 #333333;
	padding: 0;
	margin: 0 2px 0 0;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	border: 0;
}

.memberlogin .content .frmlog .forgot {
	font-size: 11px;
	font-weight: bold;
	color: #e74133;
	font-style: italic;
}

.memberlogin .content .frmlog .forgot:hover {
	text-decoration: underline;
	color: #e74133
}